<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="<%= imgPath %>" />
    </div>
    <div class="carousel-item">
      <img src="<%= imgPath %>" />
    </div>
    <div class="carousel-item">
      <img src="<%= imgPath %>" />
    </div>
    <div class="carousel-item">
      <img src="<%= imgPath %>" />
    </div>
    <div class="carousel-item">
      <img src="<%= imgPath %>" />
    </div>
  </div>

  <div class="carousel-pagination">
    <ul class="carousel-paination-inner">
      <li class="carousel-pagination-item active"></li>
      <li class="carousel-pagination-item"></li>
      <li class="carousel-pagination-item"></li>
      <li class="carousel-pagination-item"></li>
      <li class="carousel-pagination-item"></li>
    </ul>
  </div>
</div>