<div class="mycard-userinfo">
  <div class="cd-user">
    <div class="cd-media">
      <img src="./app/components/Business/Card/img.jpg">
    </div>
    <div class="cd-userinner">
      <div class="cd-title">
        路人甲
      </div>
      <div class="cd-usersubtitle">
        手机号：13166554422
      </div>
    </div>
  </div>
</div>

<div class="cd-user">
  <div class="cd-contentinner">
    <div class="cd-title">
      签到
    </div>
  </div>
</div>

<div class="cd-user">
  <div class="cd-contentinner">
    <div class="cd-title">
      <i class="icon icon-heart"></i>
      我的关注
    </div>
    <span class="cd-badge" >3</span>
  </div>
</div>

<div class="cd-user">
  <div class="cd-contentinner">
    <div class="cd-title">
      <i class="icon icon-gear-b"></i>
      设置
    </div>
  </div>
</div>

<div class="cd-user">
  <div class="cd-contentinner">
    <div class="cd-title">
      <i class="icon icon-gear-a"></i>
      路人王
    </div>
  </div>
</div>