<div class="foot-toolbar-inner">
	<a href="#index" class="foot-tab-link active">
		<i class="icon ion-ios-home"></i>
		<label><%= title1 %></label>
	</a>
	<a href="#dynamic" class="foot-tab-link">
		<i class="icon ion-star"></i>
		<label><%= title2 %></label>
	</a>
	<a href="#friends" class="foot-tab-link">
		<i class="icon ion-android-contacts"></i>
		<label><%= title3 %></label>
	</a>
	<a href="#settingView" class="foot-tab-link">
		<i class="icon ion ion-android-person">
			<span class="badge" id="badge"><%= badge %></span>
		</i>
		<label><%= title4 %></label></a>
</div>