<div class="card-scroll-wrapper">
	<div class="card-pull-top-pocket">
		<div class="sg-pull">
			<div class="loader circle-round-fade" style="display: inline-block;">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<i class="ion ion-arrow-down-c sg-pull-loading" style="transform: rotate(0deg); display: none;"></i>
			<div class="sg-pull-caption">下拉可以刷新</div>

			<div class="sg-scroll" style="transform: translate3d(0px, 0px, 0px);"></div>
		</div>
	</div>

	<div class="sg-scrollbar sg-scrollbar-vertical" style="opacity: 0;">
		<div class="sg-scrollbar-indicator" style="height: 391px; transform: translate3d(0px, -256px, 0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms;"></div>
	</div>
</div>