
			<li class="sg-card">
				<div class="sg-card-header">
					<div class="sg-card-avatar">
						<img src="<%= userImg %>" alt="">
					</div>
					<div class="sg-card-detail">
						<div class="sg-card-title">
							<%= username %>
						</div>
						<div class="sg-card-subtitle">
							<%= createtime %>
						</div>
					</div>
				</div>
				<div class="sg-card-content">
					<% if(contentImg) {%>
					<div class="sg-card-media">
						<img src="<%= contentImg %>" alt="">
					</div>
					<% } %>
					<div class="sg-card-inner">
						<%= commentcontent %>
					</div>
				</div>
				<div class="sg-card-attrs">
					<div class="sg-card-state">
						<span>
							<i class="icon ion-android-chat"></i><%= commentnum %>
						</span>
						<span>
							<i class="icon ion-ios-heart"></i><%= likes %>
						</span>
					</div>
					<div class="sg-card-users">
						<a href="">
							<img src="<%= commentUrl %>" alt="">
						</a>
					</div>
				</div>
				<div class="sg-card-comment">
					<div class="sg-card-inner">
						说些什么...
					</div>
				</div>
			</li>