@charset "UTF-8";

.fl { float: left; }
.fr { float: right; }
.ib { display: inline-block; }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }

.show { display: block; }
.hide { display: none; }

.fade-out { opacity: 0 }
.fade-in { opacity: 1 }

.mt0125 { margin-top: .125rem; }
.mt2 { margin-top: .2rem; }
.mt25 { margin-top: .25rem; }
.mt50 { margin-top: .5rem; }
.mt75 { margin-top: .75rem; }
.mt100 { margin-top: 1rem; }

.mb0125 { margin-bottom: .125rem; }
.mb2 { margin-bottom: .2rem; }
.mb25 { margin-bottom: .25rem; }
.mb50 { margin-bottom: .5rem; }
.mb75 { margin-bottom: .75rem; }
.mb100 { margin-bottom: 1rem; }

.ml0125 { margin-left: .125rem; }
.ml2 { margin-left: .2rem; }
.ml25 { margin-left: .25rem; }
.ml50 { margin-left: .5rem; }
.ml75 { margin-left: .75rem; }
.ml100 { margin-left: 1rem; }

.mr0125 { margin-right: .125rem; }
.mr2 { margin-right: .2rem; }
.mr25 { margin-right: .25rem; }
.mr50 { margin-right: .5rem; }
.mr75 { margin-right: .75rem; }
.mr100 { margin-right: 1rem; }

.pt0125 { padding-top: .125rem; }
.pt2 { padding-top: .2rem; }
.pt25 { padding-top: .25rem; }
.pt50 { padding-top: .5rem; }
.pt75 { padding-top: .75rem; }
.pt100 { padding-top: 1rem; }

.pb0125 { padding-bottom: .125rem; }
.pb2 { padding-bottom: .2rem; }
.pb25 { padding-bottom: .25rem; }
.pb50 { padding-bottom: .5rem; }
.pb75 { padding-bottom: .75rem; }
.pb100 { padding-bottom: 1rem; }

.pl0125 { padding-left: .125rem; }
.pl2 { padding-left: .2rem; }
.pl25 { padding-left: .25rem; }
.pl50 { padding-left: .5rem; }
.pl75 { padding-left: .75rem; }
.pl100 { padding-left: 1rem; }

.pr0125 { padding-right: .125rem; }
.pr2 { padding-right: .2rem; }
.pr25 { padding-right: .25rem; }
.pr50 { padding-right: .5rem; }
.pr75 { padding-right: .75rem; }
.pr100 { padding-right: 1rem; }

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs20 { font-size: 20px; }
.fs30 { font-size: 30px; }

.c000 { color: #000; }
.c333 { color: #333; }
.c666 { color: #666; }
.c999 { color: #999; }
.cfff { color: #fff; }

.bg-green { background-color: #1abc9c; }
.bg-white { background-color: #fff; }
.bg-gray { background-color: #d9d9d9; }
.bg-shallow-gray { background-color: #efeff4; }

.opa0 { opacity: 0; }
.opa02 { opacity: .2; }
.opa05 { opacity: .5; }
.opa08 { opacity: .8; }
.opa1 { opacity: 1; }
