@charset "utf-8";

.view {
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: space-between;  
  align-items: stretch;
  height: 100%;
}

.view .header {
  height: .88rem;   
}

.view .foot-toolbar {
  height: 1rem;
}

.view .main {
  position: relative;
  height: calc(100% - 1.88rem); 
}