@charset "utf-8";

body {
  overflow-x: hidden;
}

.view {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
}

.view .header {
  height: .88rem;   
}

.view .foot-toolbar {
  height: 1rem;
}

.view .main {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;     
}