@charset "UTF-8";

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 0 .16rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}

.header-nav-icon {
  display: block;
  width: .3rem;
  height: .4rem;
}

.header-icon:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: .4rem;
  font-family: "AppFramework";
}

.header-nav-icon:after {
  content: "\f20d";
}

.header-more-icon {
  display: block;
  width: .6rem;
  line-height: .6rem;
  text-align: center;
}

.header-more-icon:after {
  content: "\f397";
}

.header-center {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: .88rem;
}
